<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Publisher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script>
        function validateForm() {
            var isValid = true;
            var inputs = document.querySelectorAll('.form-control');
            inputs.forEach(function (input) {
                if (input.value.trim() === '') {
                    isValid = false;
                    input.nextElementSibling.textContent = 'This field cannot be empty';
                    input.nextElementSibling.style.color = 'red';
                } else {
                    input.nextElementSibling.textContent = '';
                }
            });
            return isValid;
        }
    </script>
</head>

<body>
<div th:insert="comman/header :: header"></div>
<div class="container my-5">
    <h3>Add Publisher</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/add-publisher}" th:object="${publisher}" method="post"
                      onsubmit="return validateForm()">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Publisher Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name"
                                   placeholder="Publisher Name"/>
                            <span></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value=" Submit ">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="comman/footer :: footer"></div>
</body>

</html>
