<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Authors</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
	<div th:insert="comman/header :: header"></div>
	<div class="container my-2">

		<div th:switch="${authors}" class="container my-5">
			<p class="my-5">
				<a href="/addAuthor" class="btn btn-dark"> <i
					class="fas fa-user-plus ml-2"> Add Authors </i></a>&nbsp;&nbsp;<a
					href="/export/all-author" class="btn btn-info"> <i
					class="fas fa-file-csv ml-2"> Export CSV </i></a>
			</p>
			<div class="col-md-12">
				<h2 th:case="null">No record found !!</h2>
				<div th:case="*">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Author Name</th>
								<th>Description</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="author : ${authors}">
								<td th:text="${author.name}"></td>
								<td th:text="${author.description}"></td>
								<td><a th:href="@{/updateAuthor/{id}(id=${author.id})}"
									class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a th:href="@{/remove-author/{id}(id=${author.id})}"
									class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${authors.totalPages > 0}" class="pagination"
						th:each="pageNumber : ${pageNumbers}">
						<a th:href="@{/authors(size=${authors.size}, page=${pageNumber})}"
							th:text=${pageNumber}
							th:class="${pageNumber==authors.number + 1} ? active"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="comman/footer :: footer"></div>
</body>

</html>